<div class="row">
  <div class="col-md-6 mb-3">
    <label for="descricao" class="form-label">Descrição</label>
    <input id="descricao" type="text" class="form-control" placeholder="Ex: Material escolar">
  </div>

  <div class="col-md-3 mb-3">
    <label for="vencimentoDe" class="form-label">Vencimento De</label>
    <input id="vencimentoDe" type="text" class="form-control" placeholder="20/01/2020">
  </div>

  <div class="col-md-3 mb-3">
    <label for="vencimentoAte" class="form-label">Vencimento Até</label>
    <input id="vencimentoAte" type="text" class="form-control" placeholder="20/01/2020">
  </div>
</div>
