<div class="content-main">
  <wf-cabecalho-pagina titulo="Novo Lançamento"
                       subtitulo="Cadastre seus lançamentos">
  </wf-cabecalho-pagina>

  <div class="row">
    <div class="col-lg-12">

      <form id="form" #form="ngForm">
        <div class="card mb-4">
          <div class="card-body">

            <div class="row">
              <div class="col-md-3 mb-3">
                <h3 [ngClass]="tipoLancamentoSelecionado.classCss">
                  Nova {{ tipoLancamentoSelecionado.label }}
                </h3>
              </div>
              <div class="col-md-3 mb-3">
                <div class="btn-group btn-group-toggle"
                     ngbRadioGroup
                     [(ngModel)]="tipoLancamentoSelecionado"
                     name="tipoLancamento">
                <label class="btn-outline-success" ngbButtonLabel>
                    <input type="radio" ngbButton [value]="tipoLancamentoReceita">
                    {{ tipoLancamentoReceita.label }}
                  </label>
                  <label class="btn-outline-danger" ngbButtonLabel>
                    <input type="radio" ngbButton [value]="tipoLancamentoDespesa">
                    {{ tipoLancamentoDespesa.label }}
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="dataVencimento" class="form-label">Vencimento</label>
                <div class="input-group">
                  <input id="dataVencimento"
                         name="dataVencimento"
                         class="form-control"
                         placeholder="Ex: 01/02/2020"
                         ngbDatepicker readonly wfInputValidation
                         [navigation]="'none'"
                         #dataVencimento="ngbDatepicker" ngModel
                         (dateSelect)="dataVencimento.toggle()"
                         (focus)="dataVencimento.toggle()">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary"
                            (click)="dataVencimento.toggle()"
                            type="button">
                      <em class="fas fa-calendar-alt"></em>
                    </button>
                </div>
                </div>
              </div>

              <div class="col-md-3 mb-3" *ngIf="tipoLancamentoSelecionado === tipoLancamentoReceita">
                <label for="dataRecebimento" class="form-label">Recebimento</label>
                <div class="input-group">
                  <input id="dataRecebimento"
                         name="dataRecebimento"
                         class="form-control"
                         placeholder="Ex: 01/02/2020"
                         ngbDatepicker readonly wfInputValidation
                         [navigation]="'none'"
                         #dataRecebimento="ngbDatepicker" ngModel
                         (dateSelect)="dataRecebimento.toggle()"
                         (focus)="dataRecebimento.toggle()">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary"
                            (click)="dataRecebimento.toggle()"
                            type="button">
                      <em class="fas fa-calendar-alt"></em>
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-3 mb-3" *ngIf="tipoLancamentoSelecionado === tipoLancamentoDespesa">
                <label for="dataRecebimento" class="form-label">Pagamento</label>
                <div class="input-group">
                  <input id="dataPagamento"
                         name="dataPagamento"
                         class="form-control"
                         placeholder="Ex: 01/02/2020"
                         ngbDatepicker readonly wfInputValidation
                         [navigation]="'none'"
                         #dataPagamento="ngbDatepicker" ngModel
                         (dateSelect)="dataPagamento.toggle()"
                         (focus)="dataPagamento.toggle()">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary"
                            (click)="dataPagamento.toggle()"
                            type="button">
                      <em class="fas fa-calendar-alt"></em>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-9 mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <input id="descricao" name="descricao"
                       #descricao="ngModel" ngModel
                       minlength="5" required wfInputValidation
                       type="text" class="form-control" placeholder="Ex: Material escolar">
                <wf-input-validation-message [campo]="descricao" erro="required" mensagem="Informar campo"></wf-input-validation-message>
                <wf-input-validation-message [campo]="descricao" erro="minlength" mensagem="Informar ao menos 5 letras"></wf-input-validation-message>
              </div>

              <div class="col-md-3 mb-3">
                <label for="valor" class="form-label">R$ Valor</label>
                <input id="valor" name="valor"
                       currencyMask
                       type="text"
                       class="form-control"
                       placeholder="Ex: R$ 50,00"
                       #valor="ngModel" ngModel wfInputValidation
                       [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }">
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="categoria" class="form-label">Categoria</label>
                <select id="categoria" name="categoria" class="form-control"
                        #categoria="ngModel" ngModel wfInputValidation
                        required minlength="1">
                  <option value="">Selecionar Categoria</option>
                  <option value="ITEM_1">Gasto com Carro</option>
                  <option value="ITEM_2">Escola</option>
                </select>
              </div>

              <div class="col-md-6 mb-3">
                <label for="pessoa" class="form-label">Pessoa</label>
                <select id="pessoa" name="pessoa" class="form-control"
                        #pessoa="ngModel" ngModel wfInputValidation
                        required minlength="1">
                  <option value="">Selecionar Pessoa</option>
                  <option value="ITEM_1">Antonio Batata</option>
                  <option value="ITEM_2">Supermercados Livre</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="observacao" class="form-label">Observação</label>
                <textarea id="observacao" name="observacao" rows="3" class="form-control"></textarea>
              </div>
            </div>

            <button type="button" class="btn btn-success float-right" [disabled]="form.invalid" (click)="salvar(form)">
              <em class="fa fa-save"></em>
              Salvar
            </button>

          </div>
        </div>
      </form>

    </div>
  </div>
</div>
