:host {
  .login {
    color: #ffffff;
  }

  div.login-invalido {
    text-align: center;
  }

  span.login-invalido {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e74a3b;
  }

}
