<div class="row">
  <div class="col-md-5 mb-3">
    <label for="descricao" class="form-label">Descrição</label>
    <input id="descricao" name="descricao" [(ngModel)]="filtro.descricao"
           type="text" class="form-control" placeholder="Ex: Material escolar"
           (keyup.enter)="pesquisar()">
  </div>

  <div class="col-md-3 mb-3">
    <label for="dataVencimentoDe" class="form-label">Vencimento De</label>
    <div class="input-group">
      <input id="dataVencimentoDe"
             name="dataVencimentoDe"
             class="form-control"
             placeholder="Ex: 01/02/2020"
             ngbDatepicker readonly wfInputValidation
             navigation="arrows"
             [(ngModel)]="filtro.dataVencimentoDe"
             #dataVencimentoDe="ngbDatepicker" ngModel
             (dateSelect)="dataVencimentoDe.toggle()"
             (focus)="dataVencimentoDe.toggle()">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary"
                (click)="dataVencimentoDe.toggle()"
                type="button">
          <em class="fas fa-calendar-alt"></em>
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-3 mb-3">
    <label for="dataVencimentoAte" class="form-label">Vencimento Até</label>
    <div class="input-group">
      <input id="dataVencimentoAte"
             name="dataVencimentoAte"
             class="form-control"
             placeholder="Ex: 01/02/2020"
             ngbDatepicker readonly wfInputValidation
             navigation="arrows"
             [(ngModel)]="filtro.dataVencimentoAte"
             #dataVencimentoAte="ngbDatepicker" ngModel
             (dateSelect)="dataVencimentoAte.toggle()"
             (focus)="dataVencimentoAte.toggle()">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary"
                (click)="dataVencimentoAte.toggle()"
                type="button">
          <em class="fas fa-calendar-alt"></em>
        </button>
      </div>
    </div>
  </div>

  <div class="form-group col-md-1 mb-3">
    <button type="button" class="wf-botao-pesaquisar btn btn-success float-right"
            (click)="pesquisar()">
      Pesquisar
    </button>
  </div>
</div>
