<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <a class="sidebar-brand d-flex align-items-center justify-content-center">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3"><strong>WF</strong>inance</div>
  </a>

  <wf-menu [menu]="menuPrincipal"></wf-menu>

  <div *ngFor="let menu of menus">
    <wf-menu [menu]="menu"></wf-menu>
  </div>

  <div class="text-center d-none d-md-inline m-5">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
