<div class="content-main">
  <wf-cabecalho-pagina titulo="Pessoas">
    <a href="#" class="btn btn-success float-right">
      <em class="fa fa-plus-circle"></em>
      Nova Pessoa
    </a>
  </wf-cabecalho-pagina>

  <div class="row">
    <div class="col-lg-12">

      <form id="pessoasForm">
        <div class="card mb-4">
          <div class="card-body">
            <wf-pessoas-pesquisa></wf-pessoas-pesquisa>
            <wf-pessoas-tabela-dados [dataSource]="pessoas"></wf-pessoas-tabela-dados>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
