<body class="bg-gradient-primary" *ngIf="renderizarTemplateLogin">
<div class="container">
  <router-outlet></router-outlet>
</div>
</body>

<body id="page-top"  *ngIf="renderizarTemplateApp">
<div id="wrapper">

  <!-- Sidebar -->
  <wf-sidebar></wf-sidebar>

  <!-- Content Wrapper | Main Content -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

      <!-- Topbar -->
      <wf-topbar></wf-topbar>

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- Footer -->
    <wf-footer></wf-footer>

  </div>
</div>
</body>
